<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>

    <queries android:exported="false">
        <intent>
            <action android:name="org.qp.intent.action.PICK_PLUGIN" />
        </intent>
    </queries>

    <application
        android:name=".QuestPlayerApplication"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:largeHeap="true"
        android:theme="@style/Theme.App.Starting"
        tools:targetApi="s"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:requestLegacyExternalStorage="true"
        android:dataExtractionRules="@xml/data_extraction_rules">

        <activity
            android:name=".view.stock.StockActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.game.GameActivity"
            android:alwaysRetainTaskState="true"
            android:theme="@style/Theme.QP.Translucent.NoActionBar" />

        <activity
            android:name=".view.settings.SettingsActivity"
            android:label="@string/settingsTitle"
            android:theme="@style/Theme.QP.Translucent" />

        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.qsp.player.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>