<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <queries>
        <intent>
            <action android:name="org.qp.intent.action.PICK_PLUGIN" />
        </intent>
    </queries>

    <application
        android:name=".QuestPlayerApplication"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:largeHeap="true"
        android:theme="@style/Theme.QP.Translucent"
        tools:targetApi="m">

        <activity android:name=".view.splash.SquashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.stock.StockActivity" />

        <activity
            android:name=".view.game.GameActivity"
            android:alwaysRetainTaskState="true"
            android:theme="@style/Theme.QP.Translucent.NoActionBar" />

        <activity
            android:name=".view.settings.SettingsActivity"
            android:label="@string/settingsTitle" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.qsp.player.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>